<tr mc:repeatable="item">
	<td style="padding:0" 0 27px;>
		<table width="100%" cellpadding="0" cellspacing="0">
			<tr>
				<td mc:edit="block_27" valign="middle" colspan="2" style="font:14px/24px" verdana, geneva, sans-serif; color:#3b434a;>
					<h2 style="text-align: center;font: 22px/30px Verdana,Geneva,sans-serif;font-weight:normal;letter-spacing:1px;color:#000;">Your homeowners insurance estimate is attached here.</h2>
				</td>
			</tr>
		</table>
	</td>
</tr>
<tr mc:repeatable="item">
	<td style="padding:0" 0 27px;>
		<table width="100%" cellpadding="0" cellspacing="0">
			<tr>
				<td mc:edit="block_27" valign="middle" colspan="2" style="font:14px/24px" verdana, geneva, sans-serif; color:#3b434a;>
					<img src="https://boom.insure/assets/images/demo-price/range_new.png" style="width: 70px;margin-bottom: 15px;">
				</td>
			</tr>
		</table>
	</td>
</tr>
<tr mc:repeatable="item">
	<td style="padding:0 0 27px;">
		<table width="100%" cellpadding="0" cellspacing="0">
			<tr>
				<td mc:edit="block_27" valign="middle" style="font:14px/24px" verdana, geneva, sans-serif; color:black;>
					<b style="font:14px/24px Verdana,Geneva,sans-serif;font-weight: bold; color:black;">
						Start Date:
						{{ start_date }}
					</b>
				</td>
			</tr>
		</table>
	</td>
</tr>
<tr mc:repeatable="item">
	<td style="padding:0 0 27px;">
		<table width="100%" cellpadding="0" cellspacing="0">
			<tr>
				<td mc:edit="block_27" valign="middle" style="font:14px/24px" verdana, geneva, sans-serif; color:black;>
					<b style="font:14px/24px Verdana,Geneva,sans-serif;font-weight: bold; color:black;">
						Mortgage :
						{{ is_mortgage }}
					</b>
				</td>
			</tr>
		</table>
	</td>
</tr>
<tr mc:repeatable="item">
	<td style="padding:0 0 27px;">
		<table width="100%" cellpadding="0" cellspacing="0">
			<tr>
				<td mc:edit="block_27" valign="middle" style="font:14px/24px" verdana, geneva, sans-serif; color:black;>
					<b style="font:14px/24px Verdana,Geneva,sans-serif;font-weight: bold; color:black;">
						Lender Email :
						{{ lender_email }}
					</b>
				</td>
			</tr>
		</table>
	</td>
</tr>
